<div *ngIf="isLoading">
  <loading loadingSize="large" [loadingMessage]="loadingMessage"></loading>
</div>
<div *ngIf="!isLoading">
  <ion-row>
    <ion-col *ngIf="!showLoadingMessage">
      <ion-item>
        <ion-label>
          {{ translationMapper['Aggregate data'] }}&nbsp;
          <ion-badge color="badge-color">{{ dataObject.dataValues.length }}</ion-badge>
        </ion-label>
        <ion-checkbox [(ngModel)]="selectedItems.dataValues" disabled="{{(dataObject.dataValues.length == 0)?'true':'false'}}" (ionChange)="updateItemsToUpload()"></ion-checkbox>
      </ion-item>
      <button [disabled]="itemsToUpload.length == 0" ion-button full text-capitalize (tap)="uploadData()">
        {{ translationMapper['Upload data'] }}
      </button>
    </ion-col>
  </ion-row>
</div>
